.about_page{
    width: 100%;
    min-width: 1300px;
    overflow: hidden;
    .about_page_title{
        font: bold 29px "微软雅黑";
        color: #333;
        text-align: center;
        margin: 30px 0;
    }
    
    .leadership_statement,.movement,.lift_fun,.gastronomy_beauty{
        width: 1300px;
        margin: 0 auto;
        .about_item_title{
            font: bold 20px "微软雅黑";
            color: #333;
            margin-bottom: 20px;
            letter-spacing: 2px;
        }
        .about_item_text{
            font: normal 16px "微软雅黑";
            color: #333;
            text-indent: 2em;
            letter-spacing: 2px;
            text-align: justify;
            line-height: 1.5;
            .illustration{
                width: 450px;
                float: right;
                margin-left: 20px;
            }
        }
        
    }
    
}
